
.center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-padding{
  padding: 22px 22px
}
.short-form-field {
  width: 200px;
  padding: 11px
}
.long-form-field {
  width: 400px;
  padding: 11px
}
:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px 16px;
}
